<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Modal Content alo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="handleDismissModal()">Close</ion-button>
      <ion-button color="secondary" (click)="clickCall()"><ion-icon name="call">call</ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <h2>{{recipe.name}}</h2>

  <h4>Ingredients</h4>
  <ng-container *ngFor="let ingredient of recipe.ingredients">
    <p>
      {{ingredient}}
    </p>
  </ng-container>
  <h4>Instructions</h4>
  {{recipe.instructions}}
</ion-content>

